In [1]:
import pandas as pd
import os

In [2]:
# define the path to the downloaded data
PATH = '/Users/iremn/PythonClass/Spiced/gradient_garlic-code_Work/Week_03/Day_3/Bike_15_16'
df_15_16 = pd.DataFrame()

In [3]:
os.listdir(PATH)

['2016Q2-capitalbikeshare-tripdata.csv',
 '2015Q4-capitalbikeshare-tripdata.csv',
 '.DS_Store',
 '2015Q3-capitalbikeshare-tripdata.csv',
 '2016Q3-capitalbikeshare-tripdata.csv',
 '2015Q2-capitalbikeshare-tripdata.csv',
 '2016Q4-capitalbikeshare-tripdata.csv',
 '2015Q1-capitalbikeshare-tripdata.csv',
 '2016Q1-capitalbikeshare-tripdata.csv']

In [4]:
for csv in os.listdir(path=PATH):
    df = pd.read_csv(f'{PATH}/{csv}')
    df_15_16 = pd.concat([df_15_16, df], ignore_index = True, sort=True)

In [5]:
df_15_16.head()

,Bike number,Duration,End date,End station,End station number,Member type,Start date,Start station,Start station number,Unnamed: 0
0,W00443,149.0,2016-04-01 00:03:00,17th & Corcoran St NW,31214.0,Member,2016-04-01 00:00:30,17th St & Massachusetts Ave NW,31267.0,NaN
1,W21938,847.0,2016-04-01 00:14:54,Columbus Circle / Union Station,31623.0,Member,2016-04-01 00:00:46,Jefferson Dr & 14th St SW,31247.0,NaN
2,W20351,844.0,2016-04-01 00:15:00,Columbus Circle / Union Station,31623.0,Casual,2016-04-01 00:00:56,Jefferson Dr & 14th St SW,31247.0,NaN
3,W01385,110.0,2016-04-01 00:03:45,18th & R St NW,31278.0,Member,2016-04-01 00:01:55,17th & Corcoran St NW,31214.0,NaN
4,W20787,240.0,2016-04-01 00:06:01,Adams Mill & Columbia Rd NW,31104.0,Member,2016-04-01 00:02:00,Calvert St & Woodley Pl NW,31121.0,NaN

In [6]:
df_15_16.tail()

,Bike number,Duration,End date,End station,End station number,Member type,Start date,Start station,Start station number,Unnamed: 0
6519897,W20562,967.0,2016-04-01 00:13:49,5th & K St NW,31600.0,Casual,2016-03-31 23:57:42,11th & M St NW,31266.0,NaN
6519898,W20222,534.0,2016-04-01 00:06:46,18th & R St NW,31278.0,Member,2016-03-31 23:57:51,New York Ave & 15th St NW,31222.0,NaN
6519899,W00022,301.0,2016-04-01 00:04:20,1st & Rhode Island Ave NW,31506.0,Member,2016-03-31 23:59:18,11th & S St NW,31280.0,NaN
6519900,W01294,557.0,2016-04-01 00:08:56,18th St & Wyoming Ave NW,31114.0,Member,2016-03-31 23:59:38,New Hampshire Ave & 24th St NW,31275.0,NaN
6519901,W01416,555.0,2016-04-01 00:08:58,18th & M St NW,31221.0,Member,2016-03-31 23:59:42,14th & V St NW,31101.0,NaN

In [7]:
df_15_16['Start date'] = pd.to_datetime(df_15_16['Start date'])
df_15_16['End date'] = pd.to_datetime(df_15_16['End date'])

In [8]:
df_15_16.sort_values('Start date', inplace = True)

In [10]:
df_15_16.tail()

,Bike number,Duration,End date,End station,End station number,Member type,Start date,Start station,Start station number,Unnamed: 0
5543781,W00246,438.0,2017-01-01 00:00:18,1st & Rhode Island Ave NW,31506.0,Casual,2016-12-31 23:52:59,1st & M St NE,31603.0,NaN
5543782,W23100,1199.0,2017-01-01 00:13:53,15th & Crystal Dr,31003.0,Member,2016-12-31 23:53:53,Jefferson Memorial,31249.0,NaN
5543783,W01135,824.0,2017-01-01 00:08:05,17th St & Independence Ave SW,31290.0,Member,2016-12-31 23:54:20,7th & F St NW / National Portrait Gallery,31232.0,NaN
1648336,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1648337,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [11]:
#Convert Start and End date to datetime object
df_copy = pd.DataFrame()
df_copy = df_15_16

In [12]:
df_copy.head()

,Bike number,Duration,End date,End station,End station number,Member type,Start date,Start station,Start station number,Unnamed: 0
5543784,W01140,2389.0,2015-01-01 00:42:33,15th & K St NW,31254.0,Casual,2015-01-01 00:02:44,Constitution Ave & 2nd St NW/DOL,31271.0,NaN
5543785,W00612,2394.0,2015-01-01 00:42:41,15th & K St NW,31254.0,Casual,2015-01-01 00:02:46,Constitution Ave & 2nd St NW/DOL,31271.0,NaN
5543786,W01226,468.0,2015-01-01 00:12:20,20th & O St NW / Dupont South,31234.0,Member,2015-01-01 00:04:32,20th & E St NW,31204.0,NaN
5543787,W20216,348.0,2015-01-01 00:13:06,15th & Euclid St NW,31117.0,Member,2015-01-01 00:07:18,Park Rd & Holmead Pl NW,31602.0,NaN
5543788,W21005,980.0,2015-01-01 00:26:00,Thomas Circle,31241.0,Casual,2015-01-01 00:09:39,Jefferson Dr & 14th St SW,31247.0,NaN

In [13]:
df_copy['Start date'] = df_copy['Start date'].dt.floor(freq = 'H')

In [15]:
df_copy.tail()

,Bike number,Duration,End date,End station,End station number,Member type,Start date,Start station,Start station number,Unnamed: 0
5543781,W00246,438.0,2017-01-01 00:00:18,1st & Rhode Island Ave NW,31506.0,Casual,2016-12-31 23:00:00,1st & M St NE,31603.0,NaN
5543782,W23100,1199.0,2017-01-01 00:13:53,15th & Crystal Dr,31003.0,Member,2016-12-31 23:00:00,Jefferson Memorial,31249.0,NaN
5543783,W01135,824.0,2017-01-01 00:08:05,17th St & Independence Ave SW,31290.0,Member,2016-12-31 23:00:00,7th & F St NW / National Portrait Gallery,31232.0,NaN
1648336,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1648337,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [18]:
df_copy.drop(['End date','Unnamed: 0'], axis = 1, inplace = True)

In [19]:
df_copy.head()

,Bike number,Duration,End station,End station number,Member type,Start date,Start station,Start station number
5543784,W01140,2389.0,15th & K St NW,31254.0,Casual,2015-01-01,Constitution Ave & 2nd St NW/DOL,31271.0
5543785,W00612,2394.0,15th & K St NW,31254.0,Casual,2015-01-01,Constitution Ave & 2nd St NW/DOL,31271.0
5543786,W01226,468.0,20th & O St NW / Dupont South,31234.0,Member,2015-01-01,20th & E St NW,31204.0
5543787,W20216,348.0,15th & Euclid St NW,31117.0,Member,2015-01-01,Park Rd & Holmead Pl NW,31602.0
5543788,W21005,980.0,Thomas Circle,31241.0,Casual,2015-01-01,Jefferson Dr & 14th St SW,31247.0

In [20]:
new_15_16 = pd.DataFrame(df_copy.groupby('Start date')['Member type'].count())

In [22]:
new_15_16

                     Member type
Start date
2015-01-01 00:00:00           54
2015-01-01 01:00:00          114
2015-01-01 02:00:00          100
2015-01-01 03:00:00           16
2015-01-01 04:00:00            8
2015-01-01 05:00:00            6
2015-01-01 06:00:00            7
2015-01-01 07:00:00           11
2015-01-01 08:00:00           32
2015-01-01 09:00:00           46
2015-01-01 10:00:00          103
2015-01-01 11:00:00          214
2015-01-01 12:00:00          202
2015-01-01 13:00:00          206
2015-01-01 14:00:00          231
2015-01-01 15:00:00          249
2015-01-01 16:00:00          285
2015-01-01 17:00:00          201
2015-01-01 18:00:00          149
2015-01-01 19:00:00           97
2015-01-01 20:00:00           90
2015-01-01 21:00:00           71
2015-01-01 22:00:00           54
2015-01-01 23:00:00           32
2015-01-02 00:00:00           25
2015-01-02 01:00:00           18
2015-01-02 02:00:00            8
2015-01-02 03:00:00            5
2015-01-02 04:00:00            5
2015-01-02 05:00:00           24
...                          ...
2016-12-30 18:00:00          248
2016-12-30 19:00:00          157
2016-12-30 20:00:00          118
2016-12-30 21:00:00           83
2016-12-30 22:00:00           57
2016-12-30 23:00:00           57
2016-12-31 00:00:00           39
2016-12-31 01:00:00           30
2016-12-31 02:00:00            8
2016-12-31 03:00:00           14
2016-12-31 04:00:00            2
2016-12-31 05:00:00            3
2016-12-31 06:00:00           10
2016-12-31 07:00:00           29
2016-12-31 08:00:00           92
2016-12-31 09:00:00          150
2016-12-31 10:00:00          261
2016-12-31 11:00:00          295
2016-12-31 12:00:00          338
2016-12-31 13:00:00          321
2016-12-31 14:00:00          328
2016-12-31 15:00:00          278
2016-12-31 16:00:00          255
2016-12-31 17:00:00          212
2016-12-31 18:00:00          144
2016-12-31 19:00:00          126
2016-12-31 20:00:00           91
2016-12-31 21:00:00           76
2016-12-31 22:00:00           57
2016-12-31 23:00:00           58

[17347 rows x 1 columns]

In [23]:
sum_duration = df_copy.groupby('Start date')['Duration'].sum()

In [24]:
new_15_16['Sum_Duration'] = sum_duration
new_15_16.reset_index(inplace = True)

In [25]:
new_15_16.head()

           Start date  Member type  Sum_Duration
0 2015-01-01 00:00:00           54       48944.0
1 2015-01-01 01:00:00          114       79028.0
2 2015-01-01 02:00:00          100       67666.0
3 2015-01-01 03:00:00           16       31606.0
4 2015-01-01 04:00:00            8        5083.0

In [28]:
new_15_16['Hour'] = new_15_16['Start date'].dt.hour

In [29]:
new_15_16.tail()

               Start date  Member type  Sum_Duration  Hour
17342 2016-12-31 19:00:00          126       90514.0    19
17343 2016-12-31 20:00:00           91       96337.0    20
17344 2016-12-31 21:00:00           76       52495.0    21
17345 2016-12-31 22:00:00           57       65462.0    22
17346 2016-12-31 23:00:00           58       48389.0    23

In [30]:
new_15_16['Day'] = new_15_16['Start date'].dt.day

In [31]:
new_15_16['Month'] = new_15_16['Start date'].dt.month

In [32]:
new_15_16['Year'] = new_15_16['Start date'].dt.year

In [34]:
new_15_16.head()

           Start date  Member type  Sum_Duration  Hour  Day  Month  Year
0 2015-01-01 00:00:00           54       48944.0     0    1      1  2015
1 2015-01-01 01:00:00          114       79028.0     1    1      1  2015
2 2015-01-01 02:00:00          100       67666.0     2    1      1  2015
3 2015-01-01 03:00:00           16       31606.0     3    1      1  2015
4 2015-01-01 04:00:00            8        5083.0     4    1      1  2015

In [ ]:
#Do train test split after merging the weather data

In [35]:
new_15_16.rename(columns = {'Start date': 'Start_date', 'Member type':'Counts'}, inplace = True)

In [36]:
new_15_16.head(96)

            Start_date  Counts  Sum_Duration  Hour  Day  Month  Year
0  2015-01-01 00:00:00      54       48944.0     0    1      1  2015
1  2015-01-01 01:00:00     114       79028.0     1    1      1  2015
2  2015-01-01 02:00:00     100       67666.0     2    1      1  2015
3  2015-01-01 03:00:00      16       31606.0     3    1      1  2015
4  2015-01-01 04:00:00       8        5083.0     4    1      1  2015
5  2015-01-01 05:00:00       6        6521.0     5    1      1  2015
6  2015-01-01 06:00:00       7        6481.0     6    1      1  2015
7  2015-01-01 07:00:00      11       12165.0     7    1      1  2015
8  2015-01-01 08:00:00      32       33553.0     8    1      1  2015
9  2015-01-01 09:00:00      46       50216.0     9    1      1  2015
10 2015-01-01 10:00:00     103      109120.0    10    1      1  2015
11 2015-01-01 11:00:00     214      217303.0    11    1      1  2015
12 2015-01-01 12:00:00     202      197646.0    12    1      1  2015
13 2015-01-01 13:00:00     206      201350.0    13    1      1  2015
14 2015-01-01 14:00:00     231      316056.0    14    1      1  2015
15 2015-01-01 15:00:00     249      250783.0    15    1      1  2015
16 2015-01-01 16:00:00     285      359969.0    16    1      1  2015
17 2015-01-01 17:00:00     201      238658.0    17    1      1  2015
18 2015-01-01 18:00:00     149      122989.0    18    1      1  2015
19 2015-01-01 19:00:00      97       47562.0    19    1      1  2015
20 2015-01-01 20:00:00      90       56715.0    20    1      1  2015
21 2015-01-01 21:00:00      71       48074.0    21    1      1  2015
22 2015-01-01 22:00:00      54       33974.0    22    1      1  2015
23 2015-01-01 23:00:00      32       17716.0    23    1      1  2015
24 2015-01-02 00:00:00      25       23455.0     0    2      1  2015
25 2015-01-02 01:00:00      18       14480.0     1    2      1  2015
26 2015-01-02 02:00:00       8        3856.0     2    2      1  2015
27 2015-01-02 03:00:00       5        3270.0     3    2      1  2015
28 2015-01-02 04:00:00       5        7644.0     4    2      1  2015
29 2015-01-02 05:00:00      24       15262.0     5    2      1  2015
..                 ...     ...           ...   ...  ...    ...   ...
66 2015-01-03 18:00:00     114       60413.0    18    3      1  2015
67 2015-01-03 19:00:00      85       48816.0    19    3      1  2015
68 2015-01-03 20:00:00      51       25852.0    20    3      1  2015
69 2015-01-03 21:00:00      26       12724.0    21    3      1  2015
70 2015-01-03 22:00:00      26       15432.0    22    3      1  2015
71 2015-01-03 23:00:00      57       30112.0    23    3      1  2015
72 2015-01-04 00:00:00      35       21157.0     0    4      1  2015
73 2015-01-04 01:00:00      32       18478.0     1    4      1  2015
74 2015-01-04 02:00:00      29       13765.0     2    4      1  2015
75 2015-01-04 03:00:00      10        6006.0     3    4      1  2015
76 2015-01-04 04:00:00       3        1032.0     4    4      1  2015
77 2015-01-04 05:00:00       4        1565.0     5    4      1  2015
78 2015-01-04 06:00:00       7       62352.0     6    4      1  2015
79 2015-01-04 07:00:00      12        6944.0     7    4      1  2015
80 2015-01-04 08:00:00      43       48182.0     8    4      1  2015
81 2015-01-04 09:00:00     112       77939.0     9    4      1  2015
82 2015-01-04 10:00:00     210      142501.0    10    4      1  2015
83 2015-01-04 11:00:00     258      205865.0    11    4      1  2015
84 2015-01-04 12:00:00     340      274706.0    12    4      1  2015
85 2015-01-04 13:00:00     343      361629.0    13    4      1  2015
86 2015-01-04 14:00:00     376      435316.0    14    4      1  2015
87 2015-01-04 15:00:00     439      387351.0    15    4      1  2015
88 2015-01-04 16:00:00     408      335849.0    16    4      1  2015
89 2015-01-04 17:00:00     335      236857.0    17    4      1  2015
90 2015-01-04 18:00:00     271      188143.0    18    4      1  2015
91 2015-01-04 19:00:00     101       52836.0    19    4      1  2015
92 2015-01-04 20:00:00     101       48186.0    20    4      1  2015
93 2015-01-04 21:00:00      78       43908.0    21    4      1  2015
94 2015-01-04 22:00:00      73       52801.0    22    4      1  2015
95 2015-01-04 23:00:00      38       21596.0    23    4      1  2015

[96 rows x 7 columns]

In [77]:
new_15_16[new_15_16['Start_date'].dt.tz_localize('US/Eastern', ambiguous = 'NaT').isna()]

               Start_date  Counts  Sum_Duration  Hour  Day  Month  Year
7256  2015-11-01 01:00:00     278      256333.0     1    1     11  2015
16012 2016-11-06 01:00:00     138      113707.0     1    6     11  2016

In [80]:
new_15_16['Start_date'] = new_15_16.Start_date.dt.tz_localize('US/Eastern', ambiguous = True)

In [81]:
new_15_16.head()

                 Start_date  Counts  Sum_Duration  Hour  Day  Month  Year
0 2015-01-01 00:00:00-05:00      54       48944.0     0    1      1  2015
1 2015-01-01 01:00:00-05:00     114       79028.0     1    1      1  2015
2 2015-01-01 02:00:00-05:00     100       67666.0     2    1      1  2015
3 2015-01-01 03:00:00-05:00      16       31606.0     3    1      1  2015
4 2015-01-01 04:00:00-05:00       8        5083.0     4    1      1  2015

In [82]:
new_15_16.set_index('Start_date', inplace = True)

In [83]:
new_15_16.head()

                           Counts  Sum_Duration  Hour  Day  Month  Year
Start_date
2015-01-01 00:00:00-05:00      54       48944.0     0    1      1  2015
2015-01-01 01:00:00-05:00     114       79028.0     1    1      1  2015
2015-01-01 02:00:00-05:00     100       67666.0     2    1      1  2015
2015-01-01 03:00:00-05:00      16       31606.0     3    1      1  2015
2015-01-01 04:00:00-05:00       8        5083.0     4    1      1  2015

# Get the data with API #

In [45]:
import requests
from config import DARK_SKY_SECRET_KEY
from datetime import datetime

In [46]:
# create a range of dates to request the data from the darksky api
date_range = pd.date_range('2015/1/1', '2016/12/31', freq='D').tz_localize('US/Eastern')

In [47]:
len(date_range)

731

In [86]:
len(new_15_16)/24 # over 24 does not work. When merging I have to do, inner merge on the datetime index!!!!

722.7916666666666

# weather = pd.DataFrame()

In [51]:
for dates in date_range:
    result = requests.get(f'https://api.darksky.net/forecast/{DARK_SKY_SECRET_KEY}/38.907,-77.0417,{int(dates.timestamp())}?units=ca')
    result_json = result.json()
    df_weather = pd.DataFrame(columns=['time', 'temperature', 'atemperatue', 'humidity', 'windSpeed'])

    for entry in result_json['hourly']['data']:
        df_weather.loc[len(df_weather)] = [pd.to_datetime(entry['time'], unit='s').tz_localize('utc').tz_convert('US/Eastern'), entry['temperature'], entry['apparentTemperature'], entry['humidity'], entry['windSpeed']]
    weather = pd.concat([weather, df_weather], ignore_index = True, sort=True)

KeyError: 'hourly'

In [115]:
weather

                            index atemperatue  humidity temperature windSpeed
time
2015-01-01 00:00:00-05:00       0       -4.02      0.67       -4.02      0.04
2015-01-01 01:00:00-05:00       2        -4.3      0.70        -4.3      0.43
2015-01-01 02:00:00-05:00       5       -4.09      0.67       -4.09      0.57
2015-01-01 03:00:00-05:00       9       -3.86      0.64       -3.86      0.55
2015-01-01 04:00:00-05:00      14       -4.27      0.64       -4.27      0.47
2015-01-01 05:00:00-05:00      20       -3.76      0.62       -3.76       0.3
2015-01-01 06:00:00-05:00      27       -3.85      0.62       -3.85      0.25
2015-01-01 07:00:00-05:00      35        -4.7      0.66        -4.7      0.09
2015-01-01 08:00:00-05:00      44        -4.5      0.63        -4.5      0.13
2015-01-01 09:00:00-05:00      54       -0.99      0.59       -0.99      3.89
2015-01-01 10:00:00-05:00      65        0.95      0.51        0.95      4.54
2015-01-01 11:00:00-05:00      77        0.41      0.48        2.95      9.26
2015-01-01 12:00:00-05:00      90        1.43      0.39        4.25     11.63
2015-01-01 13:00:00-05:00     104        3.06      0.35        5.17       9.2
2015-01-01 14:00:00-05:00     119        3.74      0.35        5.92     10.18
2015-01-01 15:00:00-05:00     135        3.99      0.34        6.07      9.83
2015-01-01 16:00:00-05:00     152        4.64      0.35        6.27      8.03
2015-01-01 17:00:00-05:00     170        4.64      0.40        5.54      5.19
2015-01-01 18:00:00-05:00     189        4.41      0.42        4.41      0.94
2015-01-01 19:00:00-05:00     209        3.87      0.45        3.87      1.81
2015-01-01 20:00:00-05:00     230        3.61      0.47        3.61      2.28
2015-01-01 21:00:00-05:00     252        3.42      0.50        3.42       3.7
2015-01-01 22:00:00-05:00     275        3.51      0.51        3.51      2.69
2015-01-01 23:00:00-05:00     299        3.62      0.52        3.62      1.88
2015-01-02 00:00:00-05:00     300        3.57      0.55        3.57      4.12
2015-01-02 01:00:00-05:00     302        2.62      0.57        2.62      2.59
2015-01-02 02:00:00-05:00     305        1.16      0.66        1.16      0.66
2015-01-02 03:00:00-05:00     309         0.9      0.66         0.9      1.13
2015-01-02 04:00:00-05:00     314        0.87      0.66        0.87      0.96
2015-01-02 05:00:00-05:00     320        1.18      0.64        1.18      3.41
...                           ...         ...       ...         ...       ...
2016-10-06 18:00:00-04:00  105149       20.21      0.74        20.2      1.71
2016-10-06 19:00:00-04:00  105150       19.03      0.79       19.02      1.21
2016-10-06 20:00:00-04:00  105151       17.88      0.83       17.88      2.48
2016-10-06 21:00:00-04:00  105152       16.94      0.86       16.94      1.04
2016-10-06 22:00:00-04:00  105153       16.51      0.87       16.51      0.95
2016-10-06 23:00:00-04:00  105154       16.43      0.86       16.43      1.18
2016-10-07 00:00:00-04:00  105155       16.53      0.87       16.53      1.25
2016-10-07 01:00:00-04:00  105156       16.52      0.88       16.51      1.64
2016-10-07 02:00:00-04:00  105157       16.59      0.88       16.59      2.07
2016-10-07 03:00:00-04:00  105158       16.24      0.89       16.24      2.69
2016-10-07 04:00:00-04:00  105159       15.79      0.90       15.79      2.41
2016-10-07 05:00:00-04:00  105160       15.59      0.90       15.59      2.38
2016-10-07 06:00:00-04:00  105161       15.39      0.90       15.39      2.22
2016-10-07 07:00:00-04:00  105162       15.73      0.90       15.73       1.8
2016-10-07 08:00:00-04:00  105163       16.18      0.90       16.15      2.82
2016-10-07 09:00:00-04:00  105164        16.7      0.90       16.62      3.73
2016-10-07 10:00:00-04:00  105165       17.04      0.91       16.92      3.61
2016-10-07 11:00:00-04:00  105166       17.56      0.90       17.41      2.51
2016-10-07 12:00:00-04:00  105167       18.43      0.87       18.28       3.6
2016-10-07 13:00:00-04:00  105168        19.4      0.83       19.24      3.21
2016-10-07 14:00:00-04:00  105169       20.59      0.81       20.39      3.61
2016-10-07 15:00:00-04:00  105170       21.29      0.78       21.09      4.09
2016-10-07 16:00:00-04:00  105171       22.04      0.75       21.83      2.43
2016-10-07 17:00:00-04:00  105172       22.18      0.75       21.96      3.65
2016-10-07 18:00:00-04:00  105173        21.8      0.78       21.56      1.79
2016-10-07 19:00:00-04:00  105174       20.91      0.81       20.68      2.29
2016-10-07 20:00:00-04:00  105175       20.19      0.83       19.97      2.32
2016-10-07 21:00:00-04:00  105176       19.75      0.85       19.53      1.84
2016-10-07 22:00:00-04:00  105177        19.4      0.86       19.17      2.06
2016-10-07 23:00:00-04:00  105178       18.92      0.88        18.7      1.97

[17255 rows x 5 columns]

In [116]:
weather.drop_duplicates(inplace = True)

In [117]:
weather

                            index atemperatue  humidity temperature windSpeed
time
2015-01-01 00:00:00-05:00       0       -4.02      0.67       -4.02      0.04
2015-01-01 01:00:00-05:00       2        -4.3      0.70        -4.3      0.43
2015-01-01 02:00:00-05:00       5       -4.09      0.67       -4.09      0.57
2015-01-01 03:00:00-05:00       9       -3.86      0.64       -3.86      0.55
2015-01-01 04:00:00-05:00      14       -4.27      0.64       -4.27      0.47
2015-01-01 05:00:00-05:00      20       -3.76      0.62       -3.76       0.3
2015-01-01 06:00:00-05:00      27       -3.85      0.62       -3.85      0.25
2015-01-01 07:00:00-05:00      35        -4.7      0.66        -4.7      0.09
2015-01-01 08:00:00-05:00      44        -4.5      0.63        -4.5      0.13
2015-01-01 09:00:00-05:00      54       -0.99      0.59       -0.99      3.89
2015-01-01 10:00:00-05:00      65        0.95      0.51        0.95      4.54
2015-01-01 11:00:00-05:00      77        0.41      0.48        2.95      9.26
2015-01-01 12:00:00-05:00      90        1.43      0.39        4.25     11.63
2015-01-01 13:00:00-05:00     104        3.06      0.35        5.17       9.2
2015-01-01 14:00:00-05:00     119        3.74      0.35        5.92     10.18
2015-01-01 15:00:00-05:00     135        3.99      0.34        6.07      9.83
2015-01-01 16:00:00-05:00     152        4.64      0.35        6.27      8.03
2015-01-01 17:00:00-05:00     170        4.64      0.40        5.54      5.19
2015-01-01 18:00:00-05:00     189        4.41      0.42        4.41      0.94
2015-01-01 19:00:00-05:00     209        3.87      0.45        3.87      1.81
2015-01-01 20:00:00-05:00     230        3.61      0.47        3.61      2.28
2015-01-01 21:00:00-05:00     252        3.42      0.50        3.42       3.7
2015-01-01 22:00:00-05:00     275        3.51      0.51        3.51      2.69
2015-01-01 23:00:00-05:00     299        3.62      0.52        3.62      1.88
2015-01-02 00:00:00-05:00     300        3.57      0.55        3.57      4.12
2015-01-02 01:00:00-05:00     302        2.62      0.57        2.62      2.59
2015-01-02 02:00:00-05:00     305        1.16      0.66        1.16      0.66
2015-01-02 03:00:00-05:00     309         0.9      0.66         0.9      1.13
2015-01-02 04:00:00-05:00     314        0.87      0.66        0.87      0.96
2015-01-02 05:00:00-05:00     320        1.18      0.64        1.18      3.41
...                           ...         ...       ...         ...       ...
2016-10-06 18:00:00-04:00  105149       20.21      0.74        20.2      1.71
2016-10-06 19:00:00-04:00  105150       19.03      0.79       19.02      1.21
2016-10-06 20:00:00-04:00  105151       17.88      0.83       17.88      2.48
2016-10-06 21:00:00-04:00  105152       16.94      0.86       16.94      1.04
2016-10-06 22:00:00-04:00  105153       16.51      0.87       16.51      0.95
2016-10-06 23:00:00-04:00  105154       16.43      0.86       16.43      1.18
2016-10-07 00:00:00-04:00  105155       16.53      0.87       16.53      1.25
2016-10-07 01:00:00-04:00  105156       16.52      0.88       16.51      1.64
2016-10-07 02:00:00-04:00  105157       16.59      0.88       16.59      2.07
2016-10-07 03:00:00-04:00  105158       16.24      0.89       16.24      2.69
2016-10-07 04:00:00-04:00  105159       15.79      0.90       15.79      2.41
2016-10-07 05:00:00-04:00  105160       15.59      0.90       15.59      2.38
2016-10-07 06:00:00-04:00  105161       15.39      0.90       15.39      2.22
2016-10-07 07:00:00-04:00  105162       15.73      0.90       15.73       1.8
2016-10-07 08:00:00-04:00  105163       16.18      0.90       16.15      2.82
2016-10-07 09:00:00-04:00  105164        16.7      0.90       16.62      3.73
2016-10-07 10:00:00-04:00  105165       17.04      0.91       16.92      3.61
2016-10-07 11:00:00-04:00  105166       17.56      0.90       17.41      2.51
2016-10-07 12:00:00-04:00  105167       18.43      0.87       18.28       3.6
2016-10-07 13:00:00-04:00  105168        19.4      0.83       19.24      3.21
2016-10-07 14:00:00-04:00  105169       20.59      0.81       20.39      3.61
2016-10-07 15:00:00-04:00  105170       21.29      0.78       21.09      4.09
2016-10-07 16:00:00-04:00  105171       22.04      0.75       21.83      2.43
2016-10-07 17:00:00-04:00  105172       22.18      0.75       21.96      3.65
2016-10-07 18:00:00-04:00  105173        21.8      0.78       21.56      1.79
2016-10-07 19:00:00-04:00  105174       20.91      0.81       20.68      2.29
2016-10-07 20:00:00-04:00  105175       20.19      0.83       19.97      2.32
2016-10-07 21:00:00-04:00  105176       19.75      0.85       19.53      1.84
2016-10-07 22:00:00-04:00  105177        19.4      0.86       19.17      2.06
2016-10-07 23:00:00-04:00  105178       18.92      0.88        18.7      1.97

[17255 rows x 5 columns]

In [118]:
weather.head()

                           index atemperatue  humidity temperature windSpeed
time
2015-01-01 00:00:00-05:00      0       -4.02      0.67       -4.02      0.04
2015-01-01 01:00:00-05:00      2        -4.3      0.70        -4.3      0.43
2015-01-01 02:00:00-05:00      5       -4.09      0.67       -4.09      0.57
2015-01-01 03:00:00-05:00      9       -3.86      0.64       -3.86      0.55
2015-01-01 04:00:00-05:00     14       -4.27      0.64       -4.27      0.47

In [119]:
merged_dataframe = pd.merge(new_15_16, weather, how = 'inner', left_index=True, right_index=True)

In [120]:
merged_dataframe = merged_dataframe.loc[~merged_dataframe.index.duplicated(keep='first')]

In [125]:
merged_dataframe

,Counts,Sum_Duration,Hour,Day,Month,Year,atemperatue,humidity,temperature,windSpeed
2015-01-01 00:00:00-05:00,54,48944.0,0,1,1,2015,-4.02,0.67,-4.02,0.04
2015-01-01 01:00:00-05:00,114,79028.0,1,1,1,2015,-4.3,0.70,-4.3,0.43
2015-01-01 02:00:00-05:00,100,67666.0,2,1,1,2015,-4.09,0.67,-4.09,0.57
2015-01-01 03:00:00-05:00,16,31606.0,3,1,1,2015,-3.86,0.64,-3.86,0.55
2015-01-01 04:00:00-05:00,8,5083.0,4,1,1,2015,-4.27,0.64,-4.27,0.47
2015-01-01 05:00:00-05:00,6,6521.0,5,1,1,2015,-3.76,0.62,-3.76,0.3
2015-01-01 06:00:00-05:00,7,6481.0,6,1,1,2015,-3.85,0.62,-3.85,0.25
2015-01-01 07:00:00-05:00,11,12165.0,7,1,1,2015,-4.7,0.66,-4.7,0.09
2015-01-01 08:00:00-05:00,32,33553.0,8,1,1,2015,-4.5,0.63,-4.5,0.13
2015-01-01 09:00:00-05:00,46,50216.0,9,1,1,2015,-0.99,0.59,-0.99,3.89
2015-01-01 10:00:00-05:00,103,109120.0,10,1,1,2015,0.95,0.51,0.95,4.54
2015-01-01 11:00:00-05:00,214,217303.0,11,1,1,2015,0.41,0.48,2.95,9.26
2015-01-01 12:00:00-05:00,202,197646.0,12,1,1,2015,1.43,0.39,4.25,11.63
2015-01-01 13:00:00-05:00,206,201350.0,13,1,1,2015,3.06,0.35,5.17,9.2
2015-01-01 14:00:00-05:00,231,316056.0,14,1,1,2015,3.74,0.35,5.92,10.18
2015-01-01 15:00:00-05:00,249,250783.0,15,1,1,2015,3.99,0.34,6.07,9.83
2015-01-01 16:00:00-05:00,285,359969.0,16,1,1,2015,4.64,0.35,6.27,8.03
2015-01-01 17:00:00-05:00,201,238658.0,17,1,1,2015,4.64,0.40,5.54,5.19
2015-01-01 18:00:00-05:00,149,122989.0,18,1,1,2015,4.41,0.42,4.41,0.94
2015-01-01 19:00:00-05:00,97,47562.0,19,1,1,2015,3.87,0.45,3.87,1.81
2015-01-01 20:00:00-05:00,90,56715.0,20,1,1,2015,3.61,0.47,3.61,2.28
2015-01-01 21:00:00-05:00,71,48074.0,21,1,1,2015,3.42,0.50,3.42,3.7
2015-01-01 22:00:00-05:00,54,33974.0,22,1,1,2015,3.51,0.51,3.51,2.69
2015-01-01 23:00:00-05:00,32,17716.0,23,1,1,2015,3.62,0.52,3.62,1.88
2015-01-02 00:00:00-05:00,25,23455.0,0,2,1,2015,3.57,0.55,3.57,4.12
2015-01-02 01:00:00-05:00,18,14480.0,1,2,1,2015,2.62,0.57,2.62,2.59
2015-01-02 02:00:00-05:00,8,3856.0,2,2,1,2015,1.16,0.66,1.16,0.66
2015-01-02 03:00:00-05:00,5,3270.0,3,2,1,2015,0.9,0.66,0.9,1.13
2015-01-02 04:00:00-05:00,5,7644.0,4,2,1,2015,0.87,0.66,0.87,0.96
2015-01-02 05:00:00-05:00,24,15262.0,5,2,1,2015,1.18,0.64,1.18,3.41
...,...,...,...,...,...,...,...,...,...,...
2016-10-06 18:00:00-04:00,1400,1303587.0,18,6,10,2016,20.21,0.74,20.2,1.71
2016-10-06 19:00:00-04:00,845,686060.0,19,6,10,2016,19.03,0.79,19.02,1.21
2016-10-06 20:00:00-04:00,569,558807.0,20,6,10,2016,17.88,0.83,17.88,2.48
2016-10-06 21:00:00-04:00,390,338053.0,21,6,10,2016,16.94,0.86,16.94,1.04
2016-10-06 22:00:00-04:00,299,299952.0,22,6,10,2016,16.51,0.87,16.51,0.95
2016-10-06 23:00:00-04:00,150,180850.0,23,6,10,2016,16.43,0.86,16.43,1.18
2016-10-07 00:00:00-04:00,83,64881.0,0,7,10,2016,16.53,0.87,16.53,1.25
2016-10-07 01:00:00-04:00,35,88801.0,1,7,10,2016,16.52,0.88,16.51,1.64
2016-10-07 02:00:00-04:00,17,12575.0,2,7,10,2016,16.59,0.88,16.59,2.07
2016-10-07 03:00:00-04:00,9,7624.0,3,7,10,2016,16.24,0.89,16.24,2.69
2016-10-07 04:00:00-04:00,20,17198.0,4,7,10,2016,15.79,0.90,15.79,2.41
2016-10-07 05:00:00-04:00,75,49662.0,5,7,10,2016,15.59,0.90,15.59,2.38
2016-10-07 06:00:00-04:00,264,171206.0,6,7,10,2016,15.39,0.90,15.39,2.22
2016-10-07 07:00:00-04:00,851,749427.0,7,7,10,2016,15.73,0.90,15.73,1.8
2016-10-07 08:00:00-04:00,1209,1022840.0,8,7,10,2016,16.18,0.90,16.15,2.82
2016-10-07 09:00:00-04:00,646,660739.0,9,7,10,2016,16.7,0.90,16.62,3.73
2016-10-07 10:00:00-04:00,392,516862.0,10,7,10,2016,17.04,0.91,16.92,3.61
2016-10-07 11:00:00-04:00,522,755345.0,11,7,10,2016,17.56,0.90,17.41,2.51
2016-10-07 12:00:00-04:00,668,820156.0,12,7,10,2016,18.43,0.87,18.28,3.6
2016-10-07 13:00:00-04:00,726,1064177.0,13,7,10,2016,19.4,0.83,19.24,3.21
2016-10-07 14:00:00-04:00,738,1170287.0,14,7,10,2016,20.59,0.81,20.39,3.61
2016-10-07 15:00:00-04:00,921,1219013.0,15,7,10,2016,21.29,0.78,21.09,4.09
2016-10-07 16:00:00-04:00,1224,1421944.0,16,7,10,2016,22.04,0.75,21.83,2.43
2016-10-07 17:00:00-04:00,1507,1721874.0,17,7,10,2016,22.18,0.75,21.96,3.65
2016-10-07 18:00:00-04:00,1092,1118328.0,18,7,10,2016,21.8,0.78,21.56,1.79
2016-10-07 19:00:00-04:00,682,749563.0,19,7,10,2016,20.91,0.81,20.68,2.29
2016-10-07 20:00:00-04:00,467,549043.0,20,7,10,2016,20.19,0.83,19.97,2.32
2016-10-07 21:00:00-04:00,499,488665.0,21,7,10,2016,19.75,0.85,19.53,1.84
2016-10-07 22:00:00-04:00,348,423558.0,22,7,10,2016,19.4,0.86,19.17,2.06
2016-10-07 23:00:00-04:00,200,186001.0,23,7,10,2016,18.92,0.88,18.7,1.97

In [134]:
merged_dataframe['Day_Name'] = merged_dataframe.index.day_name()

In [135]:
merged_dataframe.head()

,Counts,Sum_Duration,Hour,Day,Month,Year,atemperatue,humidity,temperature,windSpeed,Day_Name
2015-01-01 00:00:00-05:00,54,48944.0,0,1,1,2015,-4.02,0.67,-4.02,0.04,Thursday
2015-01-01 01:00:00-05:00,114,79028.0,1,1,1,2015,-4.3,0.70,-4.3,0.43,Thursday
2015-01-01 02:00:00-05:00,100,67666.0,2,1,1,2015,-4.09,0.67,-4.09,0.57,Thursday
2015-01-01 03:00:00-05:00,16,31606.0,3,1,1,2015,-3.86,0.64,-3.86,0.55,Thursday
2015-01-01 04:00:00-05:00,8,5083.0,4,1,1,2015,-4.27,0.64,-4.27,0.47,Thursday

In [137]:
#Weekday Reconvert
day_new = {'Sunday': 0, 'Tuesday': 1, 'Wednesday': 1, 'Monday': 1, 'Friday': 1, 'Thursday': 1, 'Saturday': 0}
merged_dataframe['weekday'] = merged_dataframe['Day_Name'].map(day_new)

In [142]:
#Holiday Reconvert
holiday = {'Sunday': 1, 'Tuesday': 0, 'Wednesday': 0, 'Monday': 0, 'Friday': 0, 'Thursday': 0, 'Saturday': 1}
merged_dataframe['Holiday'] = merged_dataframe['Day_Name'].map(holiday)

In [143]:
merged_dataframe

,Counts,Sum_Duration,Hour,Day,Month,Year,atemperatue,humidity,temperature,windSpeed,Day_Name,weekday,Holiday
2015-01-01 00:00:00-05:00,54,48944.0,0,1,1,2015,-4.02,0.67,-4.02,0.04,Thursday,1,0
2015-01-01 01:00:00-05:00,114,79028.0,1,1,1,2015,-4.3,0.70,-4.3,0.43,Thursday,1,0
2015-01-01 02:00:00-05:00,100,67666.0,2,1,1,2015,-4.09,0.67,-4.09,0.57,Thursday,1,0
2015-01-01 03:00:00-05:00,16,31606.0,3,1,1,2015,-3.86,0.64,-3.86,0.55,Thursday,1,0
2015-01-01 04:00:00-05:00,8,5083.0,4,1,1,2015,-4.27,0.64,-4.27,0.47,Thursday,1,0
2015-01-01 05:00:00-05:00,6,6521.0,5,1,1,2015,-3.76,0.62,-3.76,0.3,Thursday,1,0
2015-01-01 06:00:00-05:00,7,6481.0,6,1,1,2015,-3.85,0.62,-3.85,0.25,Thursday,1,0
2015-01-01 07:00:00-05:00,11,12165.0,7,1,1,2015,-4.7,0.66,-4.7,0.09,Thursday,1,0
2015-01-01 08:00:00-05:00,32,33553.0,8,1,1,2015,-4.5,0.63,-4.5,0.13,Thursday,1,0
2015-01-01 09:00:00-05:00,46,50216.0,9,1,1,2015,-0.99,0.59,-0.99,3.89,Thursday,1,0
2015-01-01 10:00:00-05:00,103,109120.0,10,1,1,2015,0.95,0.51,0.95,4.54,Thursday,1,0
2015-01-01 11:00:00-05:00,214,217303.0,11,1,1,2015,0.41,0.48,2.95,9.26,Thursday,1,0
2015-01-01 12:00:00-05:00,202,197646.0,12,1,1,2015,1.43,0.39,4.25,11.63,Thursday,1,0
2015-01-01 13:00:00-05:00,206,201350.0,13,1,1,2015,3.06,0.35,5.17,9.2,Thursday,1,0
2015-01-01 14:00:00-05:00,231,316056.0,14,1,1,2015,3.74,0.35,5.92,10.18,Thursday,1,0
2015-01-01 15:00:00-05:00,249,250783.0,15,1,1,2015,3.99,0.34,6.07,9.83,Thursday,1,0
2015-01-01 16:00:00-05:00,285,359969.0,16,1,1,2015,4.64,0.35,6.27,8.03,Thursday,1,0
2015-01-01 17:00:00-05:00,201,238658.0,17,1,1,2015,4.64,0.40,5.54,5.19,Thursday,1,0
2015-01-01 18:00:00-05:00,149,122989.0,18,1,1,2015,4.41,0.42,4.41,0.94,Thursday,1,0
2015-01-01 19:00:00-05:00,97,47562.0,19,1,1,2015,3.87,0.45,3.87,1.81,Thursday,1,0
2015-01-01 20:00:00-05:00,90,56715.0,20,1,1,2015,3.61,0.47,3.61,2.28,Thursday,1,0
2015-01-01 21:00:00-05:00,71,48074.0,21,1,1,2015,3.42,0.50,3.42,3.7,Thursday,1,0
2015-01-01 22:00:00-05:00,54,33974.0,22,1,1,2015,3.51,0.51,3.51,2.69,Thursday,1,0
2015-01-01 23:00:00-05:00,32,17716.0,23,1,1,2015,3.62,0.52,3.62,1.88,Thursday,1,0
2015-01-02 00:00:00-05:00,25,23455.0,0,2,1,2015,3.57,0.55,3.57,4.12,Friday,1,0
2015-01-02 01:00:00-05:00,18,14480.0,1,2,1,2015,2.62,0.57,2.62,2.59,Friday,1,0
2015-01-02 02:00:00-05:00,8,3856.0,2,2,1,2015,1.16,0.66,1.16,0.66,Friday,1,0
2015-01-02 03:00:00-05:00,5,3270.0,3,2,1,2015,0.9,0.66,0.9,1.13,Friday,1,0
2015-01-02 04:00:00-05:00,5,7644.0,4,2,1,2015,0.87,0.66,0.87,0.96,Friday,1,0
2015-01-02 05:00:00-05:00,24,15262.0,5,2,1,2015,1.18,0.64,1.18,3.41,Friday,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-10-06 18:00:00-04:00,1400,1303587.0,18,6,10,2016,20.21,0.74,20.2,1.71,Thursday,1,0
2016-10-06 19:00:00-04:00,845,686060.0,19,6,10,2016,19.03,0.79,19.02,1.21,Thursday,1,0
2016-10-06 20:00:00-04:00,569,558807.0,20,6,10,2016,17.88,0.83,17.88,2.48,Thursday,1,0
2016-10-06 21:00:00-04:00,390,338053.0,21,6,10,2016,16.94,0.86,16.94,1.04,Thursday,1,0
2016-10-06 22:00:00-04:00,299,299952.0,22,6,10,2016,16.51,0.87,16.51,0.95,Thursday,1,0
2016-10-06 23:00:00-04:00,150,180850.0,23,6,10,2016,16.43,0.86,16.43,1.18,Thursday,1,0
2016-10-07 00:00:00-04:00,83,64881.0,0,7,10,2016,16.53,0.87,16.53,1.25,Friday,1,0
2016-10-07 01:00:00-04:00,35,88801.0,1,7,10,2016,16.52,0.88,16.51,1.64,Friday,1,0
2016-10-07 02:00:00-04:00,17,12575.0,2,7,10,2016,16.59,0.88,16.59,2.07,Friday,1,0
2016-10-07 03:00:00-04:00,9,7624.0,3,7,10,2016,16.24,0.89,16.24,2.69,Friday,1,0
2016-10-07 04:00:00-04:00,20,17198.0,4,7,10,2016,15.79,0.90,15.79,2.41,Friday,1,0
2016-10-07 05:00:00-04:00,75,49662.0,5,7,10,2016,15.59,0.90,15.59,2.38,Friday,1,0
2016-10-07 06:00:00-04:00,264,171206.0,6,7,10,2016,15.39,0.90,15.39,2.22,Friday,1,0
2016-10-07 07:00:00-04:00,851,749427.0,7,7,10,2016,15.73,0.90,15.73,1.8,Friday,1,0
2016-10-07 08:00:00-04:00,1209,1022840.0,8,7,10,2016,16.18,0.90,16.15,2.82,Friday,1,0
2016-10-07 09:00:00-04:00,646,660739.0,9,7,10,2016,16.7,0.90,16.62,3.73,Friday,1,0
2016-10-07 10:00:00-04:00,392,516862.0,10,7,10,2016,17.04,0.91,16.92,3.61,Friday,1,0
2016-10-07 11:00:00-04:00,522,755345.0,11,7,10,2016,17.56,0.90,17.41,2.51,Friday,1,0
2016-10-07 12:00:00-04:00,668,820156.0,12,7,10,2016,18.43,0.87,18.28,3.6,Friday,1,0
2016-10-07 13:00:00-04:00,726,1064177.0,13,7,10,2016,19.4,0.83,19.24,3.21,Friday,1,0
2016-10-07 14:00:00-04:00,738,1170287.0,14,7,10,2016,20.59,0.81,20.39,3.61,Friday,1,0
2016-10-07 15:00:00-04:00,921,1219013.0,15,7,10,2016,21.29,0.78,21.09,4.09,Friday,1,0
2016-10-07 16:00:00-04:00,1224,1421944.0,16,7,10,2016,22.04,0.75,21.83,2.43,Friday,1,0
2016-10-07 17:00:00-04:00,1507,1721874.0,17,7,10,2016,22.18,0.75,21.96,3.65,Friday,1,0
2016-10-07 18:00:00-04:00,1092,1118328.0,18,7,10,2016,21.8,0.78,21.56,1.79,Friday,1,0
2016-10-07 19:00:00-04:00,682,749563.0,19,7,10,2016,20.91,0.81,20.68,2.29,Friday,1,0
2016-10-07 20:00:00-04:00,467,549043.0,20,7,10,2016,20.19,0.83,19.97,2.32,Friday,1,0
2016-10-07 21:00:00-04:00,499,488665.0,21,7,10,2016,19.75,0.85,19.53,1.84,Friday,1,0
2016-10-07 22:00:00-04:00,348,423558.0,22,7,10,2016,19.4,0.86,19.17,2.06,Friday,1,0
2016-10-07 23:00:00-04:00,200,186001.0,23,7,10,2016,18.92,0.88,18.7,1.97,Friday,1,0

In [153]:
#Train-Test Split Like in Kaggle took the last 5 days of each month
test_data = merged_dataframe.groupby(merged_dataframe.index.strftime('%Y-%m')).tail(120)
test_data.shape

(2640, 13)

In [154]:
merged_dataframe.shape

(15315, 13)

In [157]:
#Check the test data
test_data.tail(128)

,Counts,Sum_Duration,Hour,Day,Month,Year,atemperatue,humidity,temperature,windSpeed,Day_Name,weekday,Holiday
2016-09-30 16:00:00-04:00,672,616318.0,16,30,9,2016,17.75,0.91,17.55,4.67,Friday,1,0
2016-09-30 17:00:00-04:00,914,786496.0,17,30,9,2016,17.75,0.93,17.52,5.34,Friday,1,0
2016-09-30 18:00:00-04:00,675,567504.0,18,30,9,2016,17.86,0.92,17.63,5.15,Friday,1,0
2016-09-30 19:00:00-04:00,245,175103.0,19,30,9,2016,18.06,0.92,17.81,5.74,Friday,1,0
2016-09-30 20:00:00-04:00,208,160011.0,20,30,9,2016,17.98,0.93,17.73,6.78,Friday,1,0
2016-09-30 21:00:00-04:00,188,177998.0,21,30,9,2016,17.8,0.93,17.56,6.78,Friday,1,0
2016-09-30 22:00:00-04:00,174,131273.0,22,30,9,2016,17.72,0.93,17.48,7.1,Friday,1,0
2016-09-30 23:00:00-04:00,152,138068.0,23,30,9,2016,17.53,0.93,17.31,5.16,Friday,1,0
2016-10-03 00:00:00-04:00,43,37806.0,0,3,10,2016,19.4,0.89,19.1,0.36,Monday,1,0
2016-10-03 01:00:00-04:00,16,9545.0,1,3,10,2016,19.21,0.90,18.91,1.05,Monday,1,0
2016-10-03 02:00:00-04:00,19,24958.0,2,3,10,2016,19.05,0.91,18.75,0.09,Monday,1,0
2016-10-03 03:00:00-04:00,7,4992.0,3,3,10,2016,18.46,0.91,18.21,0.23,Monday,1,0
2016-10-03 04:00:00-04:00,16,13818.0,4,3,10,2016,18.16,0.92,17.92,0.55,Monday,1,0
2016-10-03 05:00:00-04:00,92,56597.0,5,3,10,2016,17.95,0.90,17.76,1.4,Monday,1,0
2016-10-03 06:00:00-04:00,309,213704.0,6,3,10,2016,17.2,0.92,17.05,0.81,Monday,1,0
2016-10-03 07:00:00-04:00,855,645675.0,7,3,10,2016,16.88,0.91,16.77,0.78,Monday,1,0
2016-10-03 08:00:00-04:00,1151,935775.0,8,3,10,2016,17.5,0.90,17.37,2.18,Monday,1,0
2016-10-03 09:00:00-04:00,599,518859.0,9,3,10,2016,18.51,0.87,18.35,3.1,Monday,1,0
2016-10-03 10:00:00-04:00,340,506978.0,10,3,10,2016,19.98,0.79,19.87,5.05,Monday,1,0
2016-10-03 11:00:00-04:00,443,799264.0,11,3,10,2016,21.42,0.67,21.42,6.47,Monday,1,0
2016-10-03 12:00:00-04:00,582,883473.0,12,3,10,2016,22.32,0.61,22.32,5,Monday,1,0
2016-10-03 13:00:00-04:00,556,692815.0,13,3,10,2016,22.96,0.56,22.96,7.23,Monday,1,0
2016-10-03 14:00:00-04:00,519,1016176.0,14,3,10,2016,23.55,0.52,23.55,6.3,Monday,1,0
2016-10-03 15:00:00-04:00,607,846049.0,15,3,10,2016,23.72,0.51,23.72,7.17,Monday,1,0
2016-10-03 16:00:00-04:00,928,969821.0,16,3,10,2016,23.83,0.50,23.83,5.34,Monday,1,0
2016-10-03 17:00:00-04:00,1705,1651456.0,17,3,10,2016,23.55,0.52,23.55,4.35,Monday,1,0
2016-10-03 18:00:00-04:00,1448,1412391.0,18,3,10,2016,22.81,0.56,22.81,3.44,Monday,1,0
2016-10-03 19:00:00-04:00,869,715929.0,19,3,10,2016,21.04,0.64,21.04,2.59,Monday,1,0
2016-10-03 20:00:00-04:00,497,466016.0,20,3,10,2016,19.22,0.72,19.22,0.92,Monday,1,0
2016-10-03 21:00:00-04:00,349,304977.0,21,3,10,2016,18.03,0.77,18.03,1,Monday,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-10-06 18:00:00-04:00,1400,1303587.0,18,6,10,2016,20.21,0.74,20.2,1.71,Thursday,1,0
2016-10-06 19:00:00-04:00,845,686060.0,19,6,10,2016,19.03,0.79,19.02,1.21,Thursday,1,0
2016-10-06 20:00:00-04:00,569,558807.0,20,6,10,2016,17.88,0.83,17.88,2.48,Thursday,1,0
2016-10-06 21:00:00-04:00,390,338053.0,21,6,10,2016,16.94,0.86,16.94,1.04,Thursday,1,0
2016-10-06 22:00:00-04:00,299,299952.0,22,6,10,2016,16.51,0.87,16.51,0.95,Thursday,1,0
2016-10-06 23:00:00-04:00,150,180850.0,23,6,10,2016,16.43,0.86,16.43,1.18,Thursday,1,0
2016-10-07 00:00:00-04:00,83,64881.0,0,7,10,2016,16.53,0.87,16.53,1.25,Friday,1,0
2016-10-07 01:00:00-04:00,35,88801.0,1,7,10,2016,16.52,0.88,16.51,1.64,Friday,1,0
2016-10-07 02:00:00-04:00,17,12575.0,2,7,10,2016,16.59,0.88,16.59,2.07,Friday,1,0
2016-10-07 03:00:00-04:00,9,7624.0,3,7,10,2016,16.24,0.89,16.24,2.69,Friday,1,0
2016-10-07 04:00:00-04:00,20,17198.0,4,7,10,2016,15.79,0.90,15.79,2.41,Friday,1,0
2016-10-07 05:00:00-04:00,75,49662.0,5,7,10,2016,15.59,0.90,15.59,2.38,Friday,1,0
2016-10-07 06:00:00-04:00,264,171206.0,6,7,10,2016,15.39,0.90,15.39,2.22,Friday,1,0
2016-10-07 07:00:00-04:00,851,749427.0,7,7,10,2016,15.73,0.90,15.73,1.8,Friday,1,0
2016-10-07 08:00:00-04:00,1209,1022840.0,8,7,10,2016,16.18,0.90,16.15,2.82,Friday,1,0
2016-10-07 09:00:00-04:00,646,660739.0,9,7,10,2016,16.7,0.90,16.62,3.73,Friday,1,0
2016-10-07 10:00:00-04:00,392,516862.0,10,7,10,2016,17.04,0.91,16.92,3.61,Friday,1,0
2016-10-07 11:00:00-04:00,522,755345.0,11,7,10,2016,17.56,0.90,17.41,2.51,Friday,1,0
2016-10-07 12:00:00-04:00,668,820156.0,12,7,10,2016,18.43,0.87,18.28,3.6,Friday,1,0
2016-10-07 13:00:00-04:00,726,1064177.0,13,7,10,2016,19.4,0.83,19.24,3.21,Friday,1,0
2016-10-07 14:00:00-04:00,738,1170287.0,14,7,10,2016,20.59,0.81,20.39,3.61,Friday,1,0
2016-10-07 15:00:00-04:00,921,1219013.0,15,7,10,2016,21.29,0.78,21.09,4.09,Friday,1,0
2016-10-07 16:00:00-04:00,1224,1421944.0,16,7,10,2016,22.04,0.75,21.83,2.43,Friday,1,0
2016-10-07 17:00:00-04:00,1507,1721874.0,17,7,10,2016,22.18,0.75,21.96,3.65,Friday,1,0
2016-10-07 18:00:00-04:00,1092,1118328.0,18,7,10,2016,21.8,0.78,21.56,1.79,Friday,1,0
2016-10-07 19:00:00-04:00,682,749563.0,19,7,10,2016,20.91,0.81,20.68,2.29,Friday,1,0
2016-10-07 20:00:00-04:00,467,549043.0,20,7,10,2016,20.19,0.83,19.97,2.32,Friday,1,0
2016-10-07 21:00:00-04:00,499,488665.0,21,7,10,2016,19.75,0.85,19.53,1.84,Friday,1,0
2016-10-07 22:00:00-04:00,348,423558.0,22,7,10,2016,19.4,0.86,19.17,2.06,Friday,1,0
2016-10-07 23:00:00-04:00,200,186001.0,23,7,10,2016,18.92,0.88,18.7,1.97,Friday,1,0

In [159]:
#Save Test Data
test_data.to_csv('bike_15_16_test.csv')

In [160]:
train_data = pd.DataFrame()

In [166]:
train_data = merged_dataframe.drop(merged_dataframe.groupby(merged_dataframe.index.strftime('%Y-%m')).tail(120).index, axis = 0)

In [167]:
train_data.shape

(12675, 13)

In [168]:
#Save training data
train_data.to_csv('bike_15_16_train.csv')